<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bienvenidos a MercadoLiebre</title>
    <!-- //TODO: importacion tipografias -->
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <!-- //TODO: importacion librerias -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- //TODO: importacion css -->
    <link rel="stylesheet" href="/css/styles.css" type="text/css" />
    <link rel="stylesheet" href="/css/header.css" type="text/css" />
    <link rel="stylesheet" href="/css/footer.css" type="text/css" />
  </head>
  <body>
    <header class="header">
      <img
        class="logo"
        src="static/images/logo-mercado-liebre.svg"
        alt="Logo de MercadoLiebre"
      />
      <form action="#" class="search p-relative">
        <input class="search" type="text" placeholder=" Buscar" name="search" />
        <i class="fa fa-search search-icon"> </i>
      </form>
      <h4>
        <i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin
        tarjeta de crédito
      </h4>

      <nav class="nav">
        <div class="container-menu">
          <label class="btn-menu" for="menu-input">
            <i class="fas fa-bars"></i>
          </label>
        </div>
        <input id="menu-input" type="checkbox" />
        <div class="container-ul">
          <ul class="menu-links">
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Tiendas Oficiales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayuda</a></li>
          </ul>
        </div>
        <div class="container-ul">
          <ul class="menu-account">
            <li>
              <a href="/register">
                Creá tu cuenta <i class="fa-solid fa-address-card"></i>
              </a>
            </li>
            <li>
              <a href="/login">
                Ingresá<i class="fa-solid fa-arrow-right-to-bracket"></i>
              </a>
            </li>
            <li>
              <a href="#">
                Mis compras<i class="fa-solid fa-basket-shopping"></i>
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <section>
      <img
        src="static/images/img-home-banner.jpg"
        width="100%"
        alt="Banner de ofertas"
      />
    </section>
    <main>
      <section class="last-visit">
        <h3 class="section-title">Basado en tu última visita</h3>
        <div class="grid">
          <article class="card">
            <div class="card-header">
              <img
                src="static/images/img-cafetera-moulinex.jpg"
                alt="Cafetera"
                class="product_img"
              />
            </div>
            <div class="card-body">
              <i class="fa-solid fa-truck"></i>
              <p class="card-price">$6.770</p>
              <p class="card-discount">40% off</p>
              <h4 class="card-description">Cafetera Moulinex</h4>
            </div>
          </article>
          <article class="card">
            <div class="card-header">
              <img
                src="static/images/img-macbook-pro-2019.jpg"
                alt="MacBook"
                class="product_img"
              />
            </div>
            <div class="card-body">
              <i class="fa-solid fa-truck"></i>
              <p class="card-price">$230.000</p>
              <p class="card-discount">20% off</p>
              <h4 class="card-description">MacBook Pro 2019</h4>
            </div>
          </article>
          <article class="card">
            <div class="card-header">
              <img
                src="static/images/img-samsung-galaxy-s10.jpg"
                alt="Teléfono Móvil Samsung Galaxy"
                class="product_img"
              />
            </div>
            <div class="card-body">
              <i class="fa-solid fa-truck"></i>
              <p class="card-price">$70.500</p>
              <p class="card-discount">10% off</p>
              <h4 class="card-description">
                Teléfono móvil Samsung Galaxy S10
              </h4>
            </div>
          </article>
          <article class="card">
            <div class="card-header">
              <img
                src="static/images/img-tv-samsung-smart.jpg"
                alt="SmartTv Samsung"
                class="product_img"
              />
            </div>
            <div class="card-body">
              <i class="fa-solid fa-truck"></i>
              <p class="card-price">$23.200</p>
              <p class="card-discount">5% off</p>
              <h4 class="card-description">SmartTv Samsung 43"</h4>
            </div>
          </article>
        </div>
      </section>

      <section class="oferts">
        <h3 class="section-title">Ofertas</h3>
        <div class="grid">
          <article class="card">
            <div class="card-header">
              <img
                src="static/images/img-cafetera-moulinex.jpg"
                alt="Cafetera"
                class="product_img"
              />
            </div>
            <div class="card-body">
              <i class="fa-solid fa-truck"></i>
              <p class="card-price">$6.770</p>
              <p class="card-discount">40% off</p>
              <h4 class="card-description">Cafetera Moulinex</h4>
            </div>
          </article>
          <article class="card">
            <div class="card-header">
              <img
                src="static/images/img-macbook-pro-2019.jpg"
                alt="MacBook"
                class="product_img"
              />
            </div>
            <div class="card-body">
              <i class="fa-solid fa-truck"></i>
              <p class="card-price">$230.000</p>
              <p class="card-discount">20% off</p>
              <h4 class="card-description">MacBook Pro 2019</h4>
            </div>
          </article>
          <article class="card">
            <div class="card-header">
              <img
                src="static/images/img-samsung-galaxy-s10.jpg"
                alt="Teléfono Móvil Samsung Galaxy"
                class="product_img"
              />
            </div>
            <div class="card-body">
              <i class="fa-solid fa-truck"></i>
              <p class="card-price">$70.500</p>
              <p class="card-discount">10% off</p>
              <h4 class="card-description">
                Teléfono móvil Samsung Galaxy S10
              </h4>
            </div>
          </article>
          <article class="card">
            <div class="card-header">
              <img
                src="static/images/img-tv-samsung-smart.jpg"
                alt="SmartTv Samsung"
                class="product_img"
              />
            </div>
            <div class="card-body">
              <i class="fa-solid fa-truck"></i>
              <p class="card-price">$23.200</p>
              <p class="card-discount">5% off</p>
              <h4 class="card-description">SmartTv Samsung 43"</h4>
            </div>
          </article>
        </div>
      </section>
    </main>
    <footer>
      <div class="footer-container">
        <div>
          <i class="fa-solid fa-credit-card icon"></i>

          <h5 class="title">Pagá con tarjeta o en efectivo</h5>
          <p class="paragraph">
            con mercadoliebre Cash, tenés cuotas sin interés con tajeta o en
            efectivo en puntos de pago. ¡Y siempre es seguro!
          </p>
        </div>
        <div>
          <i class="fa-solid fa-gift icon"></i>

          <h5 class="title">envío gratias desde $2.500</h5>
          <p class="paragraph">
            Solo por estar registrado en Mercadoliebre tenés envíos gratis en
            miles de productos. Es un beneficio de Mercado puntos.
          </p>
        </div>
        <div>
          <i class="fa-solid fa-user-shield icon"></i>

          <h5 class="title">Seguridad de principio a fin.</h5>
          <p class="paragraph">
            ¿no te gusa? ¡devolvelo! en mercadoLiebre no hay nada que no puedas
            hacer porque estas siempre protegid@.
          </p>
        </div>
      </div>
      <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.l</p>
    </footer>
  </body>
</html>
